$bg-color: linear-gradient(120deg, #343a4f, #0f1620);
$lightblue: #3d9dea;
$darkblue: #4a4eee;
$text-color: #d5e1ef;

html,
body {
	width: 100%;
	min-height: 100vh;
	background-image: linear-gradient(90deg, #414850, #131720);
	color: $text-color;
}

*,
button,
span,
a {
	display: inline-block;
	box-sizing: border-box;
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	display: block;
	object-fit: contain;
	-o-object-fit: contain;
}

.main-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 20px;
	font-family: OpenSans, sans-serif;
}

.item-card {
	max-width: 350px;
	width: 100%;
	border-radius: 30px;
	overflow: hidden;
	background-image: $bg-color;
}

.item-card__overview,
.item-card__spec {
	padding: 24px;
}

.item-card__overview {
	width: 100%;
	background-image: linear-gradient(176deg, $lightblue, $darkblue);
}

.overview {}

.overview__actions {
	display: flex;
	justify-content: space-between;
	margin: 0 0 32px 0;
}

.back-button,
.cart-button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.cart-button {
	position: relative;

	&::after {
		position: absolute;
		content: "";
		top: 11px;
		right: 8px;
		display: block;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-image: linear-gradient(90deg, #489be2, #0f629c);
	}

	&--neuro {
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: $bg-color;
		box-shadow: inset 3px 4px 5px 0px rgba(197, 197, 197, 0.1),
								inset 3px 6px 6px 5px rgba(78, 77, 77, 0.1),
								-2px -2px 8px 2px rgba(255, 255, 255, 0.1),
								2px 2px 6px 3px rgba(0, 0, 0, 0.4);
	}
}

.overview__info {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100px;
	margin: 0 0 50px 0;
}

.info {}

.info__desc {
	display: flex;
	flex-direction: column;
	margin: 0 0 12px 0;

	h3 {
		font-size: 16px;
		margin: 0 0 3px 0;
	}

	p {
		font-size: 13px;
		opacity: 0.8;
	}
}

.info__img {
	position: absolute;
	width: 280px;
	height: auto;
	transform: translate(40%, 3%);
	transition: all ease 1.3s;
	img {
		width: 70%;
		height: auto;

		/*&:hover {
			transition: all ease 1.3s;
			transform: translate(22%, 15%) rotate(10deg);
		}*/
	}
}

/* item card specifications */
.item-card__spec {
	h1 {
		font-size: 22px;
		margin: 10px 0 12px 0;
	}

	p {
		font-size: 14px;
		line-height: 1.5;
		opacity: 0.8;
	}
}

.spec {}

.spec__features {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 16px;
	grid-column-gap: 10px;
	margin: 20px 0 30px 0;
}

.feature {
	display: flex;
}

.feature__icon {
	width: 20px;
	height: 20px;
	flex-shrink: 0;
	background-image: $bg-color;
	border-radius: 6px;
	margin-right: 10px;
}

.checkout {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 12px;
	background-image: $bg-color;
	border-radius: 12px;
	border: none;
	box-shadow: -2px -2px 2px 0px rgba(80, 80, 80, 0.1),
							2px 2px 3px 0px rgba(12, 12, 12, 0.3),
							inset 0px 0px 0px 2px rgba(80, 80, 80, 0.2);
	overflow: hidden;

}

.checkout__price {}

.preorder-button {
	display: flex;
	align-items: center;
	outline: 0;
	border: 0;
	border-radius: 6px;
	background-image: linear-gradient(85deg, #61c7ef, #4833fb);
	color: white;
	overflow: hidden;

	&:hover {
		background-image: linear-gradient(55deg, #61c7ef, #4833fb);
	}

	p {
		padding: 8px 17px;
		border-right: 1px solid rgba(0, 0, 0, 0.4);
	}
}

.add-to-cart {
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	padding: 5px 5px;
	color: rgba(255, 255, 255, 0.7);
}

